---
import logo from "@images/logo.jpg"
import Nav from "./Nav.astro"

interface Props {
  pageTitle: string
}

const { pageTitle } = Astro.props

---

<header>
  <Nav/>
  <div class="pt-20 md:pt-24 px-6">
    <h1 class="mt-0 text-3xl md:text-4xl font-bold text-center">
      {pageTitle}
    </h1>
  </div>
</header>

